<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main.candidates" ui-sref-opts="{reload: true}">
        <span class="fa fa-database"></span> Admin Dashboard
      </a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li ng-if="vm.isLoggedIn();"><a class="navbar-nav navbar-button" ui-sref="main.login"><i class="fa fa-lock"></i> Logout</a></li>
      <li ng-if="!vm.isLoggedIn();"><a class="navbar-nav" ui-sref="main.login"><i class="fa fa-unlock"></i> Login</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-fixed-bottom">
  <div ncy-breadcrumb></div>
</nav>
