.navbar
  background-color white
  color rgba(0, 0, 0, 0.6)
  border-top 0.3em solid $theme-blue
  .breadcrumb
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin 0
    padding 10px
    border-radius 0
    background-color transparent
    font-size 1.3em
    li
      a, span
        margin 0 0.3em
      a
        transition 0.2s linear all
        color rgba(0, 0, 0, 0.6)
        text-decoration none
        &:hover
          font-weight bold
      &.active
        span
          color rgba(0, 0, 0, 0.6)
          font-weight bold

.navbar-brand
  font-size 1.5em
  max-height 1.5em
  .fa
    color $theme-blue

.navbar-static-top
  margin 0


