.navbar
  background-color rgba(0, 0, 0, 0.7)
  .breadcrumb
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin 0
    padding 10px
    border-radius 0
    background-color transparent
    font-size 1.3em
    li
      a, span
        transition 0.2s linear all
        color white
        text-decoration none
        &:hover
          color #37b34a
      &.active
        span
          color #37b34a


