<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="fa fa-database"></span> Admin Dashboard
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-repeat="s in vm.states track by $index"
            ui-sref-active="active"><a href="#" ui-sref="{{s.ref}}">{{s.displayName}}</a></li>
      </ul>
    </div>
  </div>
</nav>
