<div id="candidate" ng-intro-options="candidateController.introOptions" ng-intro-method="startIntro">
  <div class="row">
    <div class="col-md-3 col-sm-3 "><h3 class="subtitle"><i class="fa fa-users"></i> Candidates</h3></div>
    <div class="col-md-9 col-sm-9  align-right">
      <button class="btn btn-info" ng-click="$event.preventDefault(); $event.stopPropagation();  startIntro();"><i class="fa fa-info-circle"></i> Help</button>
    </div>
  </div>
  <form ng-submit="candidateController.onSubmit()">
    <div class="row">
      <div class="col-md-3 col-sm-3 ">
        <b>Select a candidate</b>
      </div>
      <div class="col-md-9 col-sm-9 ">
        <input id="selectCandidate" type="text" ng-model="candidateController.candidateName"
            typeahead-on-select="candidateController.onSelect()"
            placeholder="Start typing..."
            uib-typeahead="candidate for candidate in candidateController.candidates | filter:$viewValue | limitTo:8 "
            typeahead-min-length = "1"
            autofocus="true"
            class="form-control">
      </div>
      <div class="col-md-9 col-sm-9 ">
        (<span class="eye-catcher">{{candidateController.candidates.length}}</span> total candidates found)
      </div>
    </div>
    <div class="row" id="candidate-action-button-row">
      <div class="col-md-6 col-sm-6 ">
        <button class="btn btn-default" type="button" id="createCandidate" ng-click="$event.preventDefault(); $event.stopPropagation();  $event.preventDefault(); $event.stopPropagation();  candidateController.createCandidate();"><i class="fa fa-plus"></i> Add a new candidate!</button>
      </div>
      <div class="col-md-6 col-sm-6  align-right">
        <button class="btn btn-primary" type="submit" ng-disabled="!candidateController.candidateName">Go!</button>
      </div>
    </div>
  </form>
</div>
