<div class="user" ng-intro-options="userController.introOptions" ng-intro-method="startIntro">
  <div class="row">
    <div class="col-md-3 col-sm-3"><h3 class="subtitle"><i class="fa fa-user"></i> Users</h3></div>
    <div class="col-md-9 col-sm-9 align-right" id="user-action-button-row">
      <button class="btn btn-primary" ng-click="$event.preventDefault(); $event.stopPropagation(); userController.addUser()"><i class="fa fa-user-plus"></i> Add new user</button>
      <button class="btn btn-info" ng-disabled="!userController.selectedUser" ng-click="$event.preventDefault(); $event.stopPropagation(); userController.viewTransfers()"><i class="fa fa-exchange"></i> View transfers for user</button>
      <button class="btn btn-danger" ng-disabled="!userController.selectedUser" ng-click="$event.preventDefault(); $event.stopPropagation(); userController.deleteUser()"><i class="fa fa-times"></i> Delete selected user</button>
      <button class="btn btn-info" ng-click="$event.preventDefault(); $event.stopPropagation(); startIntro();"><i class="fa fa-info-circle"></i> Help</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="eye-catcher">{{userController.users.length}}</span> user(s) found in candidate <span
      class="eye-catcher">{{userController.candidateName}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Use the table to search, sort, group and aggregate users. Select a user for more actions.
    </div>
  </div>
  <div class="row">
    <div class="dashboard-table-container" id="user-table-container">
      <div ui-grid-selection ui-grid-grouping ui-grid="userController.gridOptions" class="dashboard-table user-table"></div>
    </div>
  </div>
</div>
