<div class="user">
  <div class="row">
    <div class="col-md-6"><h3 class="subtitle"><i class="fa fa-user"></i> Users</h3></div>
    <div class="col-md-6 align-right">
      <button class="btn btn-primary" ng-click="userController.addUser()"><i class="fa fa-user-plus"></i> Add new user</button>
      <button class="btn btn-info" ng-disabled="!userController.selectedUser" ng-click="userController.viewTransfers()"><i class="fa fa-exchange"></i> View transfers for user</button>
      <button class="btn btn-danger" ng-disabled="!userController.selectedUser" ng-click="userController.deleteUser()"><i class="fa fa-times"></i> Delete selected user</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      (<span class="eye-catcher">{{userController.users.length}}</span> total users found for candidate <span
      class="eye-catcher">{{userController.candidateName}}</span>)
    </div>
  </div>
  <div class="row">
    <div class="dashboard-table-container">
      <div ui-grid-selection ui-grid-grouping ui-grid="userController.gridOptions" class="dashboard-table user-table"></div>
    </div>
  </div>
</div>
