/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  font-family Roboto, Helvetica, Arial, sans-serif
  font-size 1.5em

.container
  width 100%
  margin 0
  padding 0
  .content
    padding 0.5em
    .nested
      padding 0 2em

.eye-catcher
  color #37634a
  font-weight bold

.dashboard-table
  border-color transparent
  height 30em
  width 100%
  .ui-grid-header-cell
    background-color white
  .ui-grid-cell, .ui-grid-header-cell
    border-color transparent

.dashboard-table-container
  padding 1em
  margin 0 auto

//bootstrap material overrides
.btn
  &.btn-primary, &.btn-warning, &.btn-danger
    background-color white

input
  /*Common style for grid inputs*/
  border: 1px solid #aaa;
  padding: 3px;
  border-radius: 4px;
  font-weight: normal;


//custom toolbar
// For Google Chrome
::-webkit-scrollbar
  width: 10px;
  height: 10px;

::-webkit-scrollbar-thumb
  background: #aaa;
  border-radius: 10px;
  &:hover
    background: #888;
  &:active
    background: #666;


::-webkit-scrollbar-track
  background: #ccc;


// For Internet Explorer
body
  scrollbar-face-color: #888;
  scrollbar-track-color: #ccc;


.ui-grid {
  border: none;
}

.ui-grid-header {
  border: none;
  border-bottom: 1px solid #69ACF7;
}

.ui-grid-header-cell {
  background-color: white;
  font-size: $body_size;
}

.ui-grid-cell, .ui-grid-header-cell {
  border-left: none !important;
  border-right: none !important;
  border: none;
}


.ui-grid-row:nth-child(even), .ui-grid-row:nth-child(odd)  {
  .ui-grid-cell {
    background-color: white;
    border-bottom: 1px solid $grey1;
  }
  &:hover {
    .ui-grid-cell {
      background-color: $yellowtint5;
    }
  }
}

.ui-grid-row {
  & {
    .ui-grid-selection-row-header-buttons {
      color: $green;
    }
    &:hover {
      .ui-grid-selection-row-header-buttons {
        color: $grey4;
        opacity: 1;
      }
    }
  }
  &.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #dff9e3;
  }
}

.ui-grid-column-menu-button {
  right: 0;
  top: -8px;
  font-size: 20px;
  &:hover {
    i:before {
      font-weight: bold;
      color: white;
      background-color: $grey4;
      border-radius: 50px;
    }
  }
}

.ui-grid-menu {
  .ui-grid-menu-inner {
    background: none;
    background-color: white;
    ul {
      li:hover {
        box-shadow: none;
        background-color: $grey4;
        color: white;
      }
    }
  }
}

.ui-grid-filter-container {
  padding: 4px 0px;
  width: 95%;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
