/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$theme-blue = #0098ff
$icon-font-path = "../../bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  font-family Roboto, Helvetica, Arial, sans-serif
  color rgba(0, 0, 0, 0.7)

.container
  width 100%
  margin 0
  padding 0
  .content
    padding 0.5em
    margin 0 auto
    max-width 1280px
    .nested
      padding 0 2em

.eye-catcher
  color #333
  font-weight bold

.subtitle
  padding 0.5em 0
  color $theme-blue
  .fa
    color rgba(0, 0, 0, 0.7)

.dashboard-table
  border-color transparent
  height 30em
  width 100%
  .ui-grid-header-cell
    background-color white
  .ui-grid-cell, .ui-grid-header-cell
    border-color transparent

.dashboard-table-container
  padding 1em
  margin 0 auto

//bootstrap material overrides
.btn
  text-transform none
  &.btn-default
    color rgba(0, 0, 0, 0.7)
  &.btn-primary, &.btn-default, &.btn-warning, &.btn-danger, &.btn-info
    background-color white
    &:hover
      background-color white !important
      box-shadow 1px 2px 0 0 #dbdbdb

.align-right, .numeric
  text-align right

.modal
  .row
    padding 1em 0

body
  > [uib-modal-window]:not([modal-render])
    display none //https://github.com/angular-ui/bootstrap/issues/5183


input
  /*Common style for grid inputs*/
  border: 1px solid #aaa;
  padding: 3px;
  border-radius: 4px;
  font-weight: normal;


//custom toolbar
// For Google Chrome
::-webkit-scrollbar
  width: 10px;
  height: 10px;

::-webkit-scrollbar-thumb
  background: #aaa;
  border-radius: 10px;
  &:hover
    background: #999;
  &:active
    background: #777;


::-webkit-scrollbar-track
  background: #eee;


// For Internet Explorer
body
  scrollbar-face-color: #eee;
  scrollbar-track-color: #888;


.ui-grid
  padding 1em
  border 1px solid #ebebeb;
  border-radius 4px
  input
    border-radius 4px !important
    padding 0.2em !important


.ui-grid-header {
  border: none;
  border-bottom: 1px solid $theme-blue ;
}

.ui-grid-header-cell {
  background-color: white;
  font-size: $body_size;
}

.ui-grid-cell, .ui-grid-header-cell {
  border-left: none !important;
  border-right: none !important;
  border: none;
}


.ui-grid-row:nth-child(even), .ui-grid-row:nth-child(odd)  {
  .ui-grid-cell {
    background-color: white;
    border-bottom: 1px solid #ebebeb;
  }
}

.ui-grid-top-panel
  background white

.ui-grid-row {
  & {
    .ui-grid-selection-row-header-buttons {
      color: green;
    }
    &:hover {
      .ui-grid-selection-row-header-buttons {
        color: #777777;
        opacity: 1;
      }
    }
  }
  &.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #dff9e3;
  }
}

.ui-grid-column-menu-button {
  right: 0;
  top: -8px;
  font-size: 20px;
  &:hover {
    i:before {
      font-weight: bold;
      color: white;
      background-color: #777777;
      border-radius: 50px;
    }
  }
}

.ui-grid-menu {
  .ui-grid-menu-inner {
    background: none;
    background-color: white;
    ul {
      li:hover {
        box-shadow: none;
        background-color: #777777;
        color: white;
      }
    }
  }
}

.ui-grid-filter-container {
  padding: 4px 0px;
  width: 95%;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
