<form id="login" ng-submit="loginController.logIn();">
  <div class="row">
    <div class="col-md-12 col-sm 12"><h3>Login</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-6"><b>User name</b></div>
    <div class="col-md-6 col-sm-6"><input autofocus="true" ng-model="loginController.formOptions.user" type="text" class="form-control"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6"><b>Password</b></div>
    <div class="col-md-6 col-sm-6"><input ng-model="loginController.formOptions.pass" type="password" class="form-control"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 align-right">
      <button ng-disabled="!loginController.isValid();" type="submit" class="btn btn-default">Log in</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm 9">
      <div ng-if="loginController.success === false"><i class="fa fa-exclamation-triangle"></i> {{loginController.errorMessage}}</div>
    </div>
  </div>
</form>
