<div class="transfer" ng-intro-options="transferController.introOptions" ng-intro-method="startIntro">
  <div class="row">
    <div class="col-md-6"><h3 class="subtitle"><i class="fa fa-exchange"></i> Transfers</h3></div>
    <div class="col-md-6 align-right" id="transfer-action-button-row">
      <button class="btn btn-primary" ng-click="transferController.addTransfer()"><i class="fa fa-plus"></i> Add new transfer</button>
      <button class="btn btn-info" ng-click="startIntro();"><i class="fa fa-info-circle"> Help</i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      (<span class="eye-catcher">{{transferController.transfers.length}}</span> total transfers found for user <span class="eye-catcher">{{transferController.userId}}</span> in candidate <span
      class="eye-catcher">{{transferController.candidateName}}</span>)
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Use the table to group, pivot and search through transfers.
    </div>
  </div>
  <div class="row" id="transfer-table-container">
    <div class="dashboard-table-container" ng-if="transferController.transfers.length">
      <div ui-grid-grouping ui-grid="transferController.gridOptions" class="dashboard-table"></div>
    </div>
    <div ng-if="!transferController.transfers.length">
      <div><i class="fa fa-exclamation-triangle"></i> No transfers found. Please <a ng-click="transferController.addTransfer()">add transfers</a> for this user</div>
    </div>
  </div>
</div>
